.navbar.navbar-size-large {
    min-height: 40px;
    max-height: 40px;
}
.navbar-map-overlay {
    z-index: 0;
}
.map-overlay, .navbar-map-overlay, .map-overlay-sidebar, .map-overlay-panel {
    border-color: #e2e9e6;
}

.navbar-default {
    border-bottom: 1px solid #e2e9e6;
}

.navbar-text h5 {
  margin-top: -3px;
  margin-bottom: 0px;
  margin-left: 50px;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 520px !important;
}

//report
.selectdemoBasicUsage md-input-container {
  margin-right: 10px; }

//animation (surveyBox)
.fade {
  padding: 10px;
  border: 1px solid black;
  background: white;
  transition: all linear 0.5s;
  opacity: 0;
}

.surveyBox {
  transition: all linear 0.5s;
  background-color: lightblue;
  height: 100px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.pagination a {
  cursor: pointer;
}

//sidebar
//
//
//
//
//
//

// .sidebar-block.sidebar-block-full {
//   padding-left: 0;
//   padding-right: 0;
// }

// .media {
//   margin-bottom: 16px;
// }
// .media > .pull-left {
//   margin-right: 16px;
// }
// .media > .pull-right {
//   margin-left: 16px;
// }










// .panel-default {
//     background-color: #ffffff;
//     border-color: #ebebeb;
// }

// .sidebar .sidebar-block-full > .panel {
//     border-left: none;
//     border-right: none;
//     margin: 0;
//     border-radius: 0;
// }
// .sidebar .panel .panel-body > *:last-child {
//     margin-bottom: 0;
// }

// .sidebar .media {
//     margin-bottom: 16px;
// }

// .panel-body > *:last-child {
//     margin-bottom: 0;
// }

// .media:first-child {
//     margin-top: 0;
// }

// .media, .media-body {
//     zoom: 1;
//     overflow: hidden;
// }

// .media {
//     margin-top: 15px;
// }

// .panel {
//     box-shadow: none;
// }

// .panel-default {
//     border-color: #e2e9e6;
// }

// .panel {
//     margin-bottom: 20px;
//     background-color: #ffffff;
//     border: 1px solid transparent;
//     border-radius: 0;
//     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
// }

// * {
//     box-sizing: border-box;
// }







