<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="col-md-2 no-padding">
      <a href="/" target="_self" style="margin-top:13px" class="pointer"><img src="/assets/img/logo-fake.png" alt="uwalk" style="width:120px;margin-left:-16px;margin-top:4px" /></a>
    </div>
    <div class="col-md-6">
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li ng-repeat="item in menus" ng-class="{active:isActive(item.link)}">
            <a ui-sref="{{ item.link }}">{{ item.name }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <md-content layout-padding="" layout="column" style="background-color: transparent; padding-bottom: 0px; padding-top: 0px;">
        <form ng-submit="toSearchOnMap()">
          <md-autocomplete
              ng-disabled="nbCtrl.isDisabled"
              md-no-cache="nbCtrl.noCache"
              md-selected-item="nbCtrl.selectedItem"
              md-search-text-change="searchTextChange(nbCtrl.searchText)"
              md-search-text="nbCtrl.searchText"
              md-selected-item-change="selectedItemChange(item)"
              md-items="item in querySearch(nbCtrl.searchText)"
              md-item-text="item.name"
              md-min-length="0"
              placeholder="Pick a city you are familar with..."
              md-menu-class="autocomplete-custom-template"
              style="">
            <md-item-template>
              <span class="item-title" style="display:block; line-height:2;">
                <md-icon md-svg-icon="assets/img/map-marker.svg" style="height:18px; width:18px;"></md-icon>
                <span md-highlight-text="nbCtrl.searchText" md-highlight-flags="^i"> {{item.name}} </span>
              </span>
              <span class="item-metadata" style="display:block; line-height:2; margin-top: -5px;">
                <span class="item-metastat">
                    Area: <strong>{{item.area}}</strong>
                </span>
                <span class="item-metastat">
                    Population: <strong>{{item.population}}</strong>
                </span>
              </span>
            </md-item-template>
            <md-not-found>
                No matches found for "{{nbCtrl.searchText}}"!
            </md-not-found>
          </md-autocomplete>
        </form>
      </md-content>
    </div>
    <!--       <form class="navbar-form navbar-left margin-none ng-pristine ng-valid">
        <div class="search-1">
          <div class="input-group">
            <span class="input-group-addon"><i class="icon-search"></i></span>
            <input type="text" class="form-control form-control-w-150" placeholder="Type in a City ...">
          </div>
        </div>
      </form> -->
    <!-- </div> -->
  </div>
</nav>
