<div class="container" style="width:100%">
  <leaflet lf-center="newyork" height="480px" width="100%">
    <div class="navbar navbar-default navbar-size-large navbar-static-top navbar-map-overlay" style="opacity:0.9; z-index: 1; background: white">
      <div class="navbar-text pull-right" style="margin-top: -5px; margin-right: -8px;">
        <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary">
          <i class="fa fa-search fa-lg"></i>
        </md-button>
      </div>
      <div class="navbar-text pull-left">
        <h5><i class="fa fa-fw fa-info"></i>Discover similar neighbourhoods! You are starting from the New York City.</h5>
      </div>
      <a class="toggle pull-right margin-none visible-xs" data-toggle="collapse" data-target="#map-nav"><i class="fa fa-sliders fa-rotate-90"></i></a>
      <div class="collapse navbar-collapse pull-right" id="map-nav" style="width: 200px; margin-top: -10px; ">
        <div>
          <md-switch ng-model="data.cb1" aria-label="Switch">
            Unconstrained Query: {{ data.cb1 }}
          </md-switch>
        </div>
      </div>
    </div>
  </leaflet>
  <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Regions</h1>
      <h5 style="padding-left: 18px;">About 4,590 results (0.38 seconds)</h5>
    </md-toolbar>
    <md-content ng-controller="RightCtrl" layout-padding="">
      <div style="height: 450px;">hello!!</div>
      <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
      <md-button ng-click="close()" class="md-primary">
        Search again
      </md-button>
    </md-content>
  </md-sidenav>
</div>
